/* 1. Prvo Importi */
@import 'ngx-toastr/toastr';
@import '@fortawesome/fontawesome-free/css/all.css';

/* 2. Zatim Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3. Na kraju tvoji stilovi */
body {
    @apply bg-gray-50 text-gray-800 font-sans;
}